@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
html {
  font-family: "Roboto", sans-serif;
  letter-spacing: .1px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --primary: #000;
  --secondary: #18181b;
  --border: #2b2b2b;
  --title: rgb(244,244,245);
  --subtitle: rgb(155,155,164);
  --BGheader: rgb(37,37,40);
  --blue: rgb(93, 188, 252);
  --icon-hover: #d4d4d8;

  --container-padding: 4.8rem;
}
.light {
  --primary: #fafafa;
  --secondary: #ffffff;
  --border: #f4f4f5;
  --title: rgb(39,39,42);
  --subtitle: rgb(90,90,98);
  --BGheader: #ffffff;
  --blue: rgb(0, 153, 255);
  --icon-hover: #333;
}

body {
  background-color: var(--primary);
  color: #fff;
}

.container{
  border: 2px solid var(--border);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--secondary);
  padding: 0px var(--container-padding);
}
.divider {
  width: calc(100% + var(--container-padding) + var(--container-padding));
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
  margin-left: calc(var(--container-padding) * -1) ;
}
li {
  list-style: none;
}
a {
  all: unset;
  cursor: pointer;
  transition: 0.2s;
}
button {
  all: unset;
}
button:hover {
  cursor: pointer;
}
button:active {
 scale: 0.9;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.flex {
  display: flex;
  align-items: center;
}
.border {
  border: 2px solid red;
}





::-webkit-scrollbar {
  width:.8rem;
}
::-webkit-scrollbar-track {
  border: 7px solid #292c3b;
  box-shadow: inset 0 0 2.5px 2px rgba(0 0 0 /.5);
  border-radius: 4px;
  background-color: #d4d4d8;
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.go2top {
  position: fixed;
  right: 3%;
  bottom: 2rem;
  background-color: rgba(25 118 210 / .85);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #ffffff67;
  font-size: 1.3rem;
}
.go2top:hover {
  background-color: rgba(25 118 210);
}


@media (max-width: 1000px) {
  .container {
    /* width: 90%; */
    --container-padding: 1.3rem;
    padding: 0 var(--container-padding);
  }
  .divider {
    width: calc(100% + var(--container-padding) + var(--container-padding));
    margin-left: calc(var(--container-padding) * -1) ;
  }
}

@media (max-width: 600px) {
  .container {
    --container-padding: 1rem;
    width: 98%;
    padding: 0 var(--container-padding);
  }
  .divider {
    width: calc(100% + var(--container-padding) + var(--container-padding));
    margin-left: calc(var(--container-padding) * -1) ;
  }
  .go2top {
    width: 2.2rem;
    height: 2.2rem;
    font-size: 1.3rem;
    opacity: .6;
  }
}